---
title: News
sidebar: false
keywords: news, blog, updates, release notes, announcements
permalink: /news_archive/
toc: false
---

<section id="archive">
    {% for post in site.posts %}
      {% assign currentdate = post.date | date: "%Y" %}
      {% if currentdate != date %}
        {% unless forloop.first %}
          </ul>
        {% endunless %}
        <h3>{{ post.date | date: '%Y' }}</h3>
        <ul>
        {% assign date = currentdate %}
      {% endif %}
        <li><time>{{ post.date | date:"%d %b" }}</time><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% if forloop.last %}
        </ul>
      {% endif %}
    {% endfor %}
</section>
