<footer class="page-footer blue white-text">

  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>Built by DSNA</h5>
      </div>
      <div class="col l6 s12">
        <h5>Contact us</h5>
        <ul>
          <li>
            <iframe src="https://ghbtns.com/github-btn.html?user=devteamreims&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
          </li>
          <li>
            <a class="btn deep-orange darken-4 waves waves-light" href="mailto:devteamreims@gmail.com" style="width: 220px;"><i class="material-icons left">email</i>@gmail</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      © 2016 DGAC
    </div>
  </div>

</footer>
