<header class="site-header">
  <nav class="indigo">
    <div class="container nav-wrapper ">
      <a href="{{ site.baseurl }}/" class="brand-logo left">{{ site.title }}</a>
      <ul id="nav-mobile" class="right">
        {% for my_page in site.pages %}
          {% assign activeClass = nil %}
          {% if page.url == my_page.url %}
            {% assign activeClass = 'active' %}
          {% endif %}
          {% if my_page.title %}
            <li class="{{activeClass}}">
              <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
